.window {
  background-color: rgba(15, 15, 15, 0.6);
}

.profile_picture {
  background-size: 130px;
  background-position: 50% 35%;
  min-height: 130px;
  min-width: 130px;
  border-radius: 100%;
}

.profile_greeting {
  color: $blue;
  font-size: 1.6rem;
  font-family: "Iosevka Nerd Font";
  font-weight: bold;
}

.profile {
  padding: 1.75rem;
  margin-bottom: 1.75rem;
  background-color: $background-alt;
}

.profileinfodate {
  margin-left: 2rem;
  margin-top: 1.3rem;
  font-family: "Iosevka Nerd Font";
  font-size: 1.3rem;
}

.profilename {
  font-size: 1.6rem;
  font-weight: bold;
}
